:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  text-align: center;
}

/* style such that it takes full width */
header {
  background-color: #090909;
  padding: 0 0.6rem;
  border: 1px dotted #fff;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #author {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 2rem;
  border: 1px dotted #fff;
}

header #author:hover {
  background-color: #242323;
  transition: all 0.3s ease-in-out;
}

header #embed {
  background-color: #fff;
  color: #090909;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 2rem;
}

header #embed:hover {
  background-color: #ece8e8;
  transition: all 0.3s ease-in-out;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 50vh;
  padding: 0.2rem;
}

#queue-add {
  padding: 0.6rem;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#queue-list {
  color: #fff9f9;
  padding: 0.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}